{%extends 'testapp/base.html'%}
    {%block body_block%}
      <h1>Employee Update Form</h1><hr>
      <form method="post" align='left'>
        {%csrf_token%}
        Employee Number:<input type="text" name="eno" value="{{employee.eno}}"><br><br>
        Employee Name:<input type="text" name="ename" value="{{employee.ename}}"><br><br>
        Employee Salary:<input type="text" name="esal" value="{{employee.esal}}"><br><br>
        Employee Address:<input type="text" name="eaddr" value="{{employee.eaddr}}"><br><br>
        <input type="submit" class='btn btn-primary btn-lg' value="Update Employee Data">
      </form>

    {%endblock %}
